<div class="row">
    <form class="form login-form">
      <h2>Login</h2>
      <div class="form-group">
        <label for="username-login">username:</label>
        <input class="form-input" type="text" id="username-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
      <div class="form-group">
        <a class="" id="createAccount">Create Account</a>
      </div>
    </form>


    <form class="form signup-form hidden">
      <h2>Sign-Up</h2>
      <div class="form-group">
        <label for="username-signup">username:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
      <div class="form-group">
        <a class="" id="loginAccount">Login Account</a>
      </div>
    </form>
</div>

<script src="./js/login.js"></script>
